## macOS
.DS_Store

## Xcode
build/
DerivedData/
*.xcuserdatad/
xcuserdata/
*.xcuserstate
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.swiftpm/
Package.resolved
.build/

## CocoaPods (not used here)
Pods/
*.xcworkspace/xcuserdata/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
